name: Build README
on:
  push:
    branches:
    - eunbin
    paths-ignore:
    - README.md
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
      with:
        # necessary for github-action-til-autoformat-readme
        fetch-depth: 0
    - name: Autoformat README
      uses: cflynn07/github-action-til-autoformat-readme@1.1.0
      with:
        description: |
          꾸준히 성장하는 좋은 개발자가 되기 위해 그날 공부한 것과 느낀 것들을 기록하는 공간입니다.

          기존에는 월별로 나누어 한 주간의 til을 한 파일에 적는 방식으로 작성하였으나
          이렇게 날짜만 적어놓은 til은 비효율적이고 나중에 찾아보기도 쉽지 않아 여러가지 방법을 고민을 하던 중에
          Simon Wilson님의 [TIL collection][2]을 발견하고 지금의 형식으로 til을 작성하게 되었습니다.

          이 곳에 기록하는 내용 중 다른 사람들과 공유하고싶은 내용에 대해서는 [블로그][1]에 포스팅하고있습니다.
        footer: |
          [1]: https://euncoding.tistory.com/
          [2]: https://github.com/jbranchaud/til
